#include <windows.h>
#include <winres.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION 1,1,0,0
PRODUCTVERSION 1,1,0,0
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_DLL
FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "GWToolbox community"
            VALUE "FileDescription", "Automatic Recorder for Guild Wars"
            VALUE "FileVersion", "1.1.0"
            VALUE "InternalName", "Recorder"
            VALUE "OriginalFilename", "Recorder.dll"
            VALUE "ProductName", "GWToolbox Recorder"
            VALUE "ProductVersion", "1.1.0 Preview"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
